---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl16-c,
  -fuchsia-*,
  -google-*,
  -hicpp-uppercase-literal-suffix,
  -llvm-*,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -zircon-*,
WarningsAsErrors: >
  bugprone-macro-parentheses,
  bugprone-suspicious-string-compare,
  clang-analyzer-core.StackAddrEscapeBase,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  hicpp-explicit-conversions,
  hicpp-member-init,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-pass-by-value,
  modernize-use-auto,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-for-range-copy,
  performance-unnecessary-value-param,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-convert-member-functions-to-static,
  readability-isolate-declaration,
  readability-make-member-function-const,
  readability-named-parameter,
  readability-redundant-member-init,
  readability-static-definition-in-anonymous-namespace,
HeaderFilterRegex: 'inc/scroom|libs|gui|plugins'
FormatStyle: file
