---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-readability-redundant-access-specifiers,-readability-implicit-bool-conversion'
WarningsAsErrors: 'clang-analyzer-core.StackAddrEscapeBase,bugprone-macro-parentheses,bugprone-suspicious-string-compare,cppcoreguidelines-special-member-functions,cppcoreguidelines-explicit-virtual-functions,readability-redundant-member-init,readability-static-definition-in-anonymous-namespace,modernize-use-using,modernize-use-nullptr,modernize-use-override,modernize-use-equals-default,modernize-use-nodiscard,performance-for-range-copy,modernize-loop-convert,modernize-use-auto,modernize-use-default-member-init,modernize-use-emplace,readability-braces-around-statements,readability-const-return-type,readability-container-size-empty,readability-convert-member-functions-to-static,readability-make-member-function-const,readability-isolate-declaration'
HeaderFilterRegex: 'scroom/.*'
FormatStyle: file
