*~
_obj/
_lib/
gui/scroom/COPYING
gui/scroom/INSTALL
gui/scroom/Makefile
gui/scroom/Makefile.in
gui/scroom/aclocal.m4
gui/scroom/autom4te.cache/
gui/scroom/config.h
gui/scroom/config.h.in
gui/scroom/config.log
gui/scroom/config.status
gui/scroom/configure
gui/scroom/depcomp
gui/scroom/install-sh
gui/scroom/missing
gui/scroom/mkinstalldirs
gui/scroom/po/Makefile
gui/scroom/po/Makefile.in
gui/scroom/po/Makefile.in.in
gui/scroom/po/POTFILES
gui/scroom/src/.deps/
gui/scroom/src/Makefile
gui/scroom/src/Makefile.in
gui/scroom/src/scroom
gui/scroom/src/*.o
gui/scroom/stamp-h1
